body {  
    padding: 0px 5rem;
    color: #d9c6a5;
    background-color:#1e1e1e;
}

*{
      font_family: Arial, Helvetica,sans-serif;
}

nav ul :hover {
  color: #c26565;
  font_weight=600;
  background-color=#f7e7bd
}

nav ul {
    padding: 0;
}

h1{
  color: #c26565 
}

ul {
  list-style-type:none;
} 
nav ul li {
    display: inline-block;
    color: #f7e7bd;
    padding: 1em;
}
nav a {
    text-decoration: none;
    color: white;
}
img{
  border-bottom-style: double;
}

img {
  border-style:double;
  border-widith=0.2;
  border-color=#d9c6a5;
  padding=0.2em;
}
.profile-summary ul {
    padding: 0px;
    font-weight: 600;
}
h2{
   color: #c26565 
}
table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  padding: 8px;
  text-align: left;
  border-top: 1px solid #ddd;
}
th:hover {
  text-size=1.2em;
}
.education table {
    color: #d9c6a5;
}

.skills ul {
    padding: 0;
    list-style: inside;
}

.skills ul li:nth-child(even) {
  color:#c8d5b9  ;
}

.title {
    color: #c8d5b9;
}

.title { 
  text-transform: capitalize; 
}
footer {
  height: 5em;
}